@import '../../app.scss';

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    margin-top: 10px;

    @include mobile {
      align-items: center;
      text-align: center;
      margin-left: 50px;

      span {
        display: none;
      }
    }
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
  }

  .nav-links-container {
    justify-content: flex-end; /* Aligns the links to the right */
  }

  .car {
    width: 5%;
    margin-left: 10px;
    margin-right: 10px;

    @include mobile {
      width: 20%;
      margin-left: 20px;
    }
  }

  .banner {
    @include mobile {
      background-color: rgb(48, 152, 208);
    }
  }

  