.poetsen-one {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: whitesmoke;
    
  }

h2 {
    font-family: "Roboto", sans-serif;
}

.footer {
  margin-top: 20px;
}

/* Mobile-specific styles */
@media only screen and (max-width: 760px) {
  .poetsen-one {
    font-size: medium;
    color: black;
  }

  .footer {
    height: 80px;
  }
}